.example1 [style*="--is:"] {
  anchor-name: var(--is);
}

.example1 [style*="--for:"]:is(:hover, :focus-visible)::after {
  content: "";

  position: absolute;
  top: anchor(var(--for) top);
  right: anchor(var(--for) right);
  bottom: anchor(var(--for) bottom);
  left: anchor(var(--for) left);

  box-shadow: 0 0 0 4px hotpink;
}
