/* 
Container queries are a relatively new feature in CSS that allows you to style elements based on the size of their container element, 
rather than the entire viewport size (like media queries do). 
This provides more granular control over responsiveness and can lead to cleaner and more maintainable code.

Exercise Explanation:

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.home-link {
  text-align: center;
  margin-bottom: 1rem;
}

.home-link a {
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  width: 62px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
  color: white;
}

/* Add containment to the container element */
.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dot {
  border-radius: 100%;
  background-color: gray;
  width: 1rem;
  height: 1rem;
}

.dot1 {
  animation: load 1s alternate infinite;
}

.dot2 {
  animation: load 1s alternate infinite;
  animation-delay: 500ms;
}

.dot3 {
  animation: load 1s alternate infinite;
  animation-delay: 1s;
}

@keyframes load {
  0% {
    background-color: gray;
    width: 1rem;
    height: 1rem;
  }
  100% {
    background-color: rgba(244, 244, 244, 0.13);
    width: 1.5rem;
    height: 1.5rem;
  }
}
