@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(270deg, #12c2e9, #c471ed, #f64f59);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  overflow: hidden;
}

.links--title {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  top: -25px;
}

.github-link-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
}

.github--icn {
  width: 50px;
}

.github--icn__txt {
  font-size: 0.8rem;
  text-align: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.links-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
  text-align: center;
  max-height: 70%;
}

.links-down h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.links-down a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
  margin-bottom: 1rem;
}

.links-down a:hover {
  color: #555;
  transform: translatey(-10px) scale(1.2);
  transition-duration: 0.5s;
  animation: agitate 0.5s linear;
}

@keyframes agitate {
  0%,
  100% {
    transform: translatey(-10px) scale(1.2) rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: translatey(-10px) scale(1.2) rotate(-5deg);
  }
}

@media only screen and (max-width: 600px) {
  .github-link-wrapper {
    bottom: 5px;
    right: 5px;
  }

  .github--icn {
    width: 30px;
  }

  .github--icn__txt {
    font-size: 0.6rem;
    display: none;
  }
}
