:root {
  --timing: 400ms;
  --rotation: 20deg;
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  perspective: 1000px;
}

.home-link {
  position: absolute;
  top: 20px;
  left: calc(50%-31px);
  color: #fff;
  font-size: 1.5em;
  width: 62px;
}

img {
  max-width: 100%;
}

.yoda {
  width: 300px;
  aspect-ratio: 9/16;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
}

.yoda:hover {
  rotate: x var(--rotation);
}

.yoda::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 15;
  background: radial-gradient(circle, #000000, #00000050);
  transition: opacity var(--timing);
}

.yoda:hover::before {
  opacity: 1;
  transition: opacity var(--timing);
}

/* This is more performant  */
.yoda::after {
  content: "";
  position: absolute;
  inset: 80% 0.5rem 0.5rem;
  translate: 0;
  transform: translateZ(-100px);
  background: black;
  z-index: 1;
  filter: blur(1rem);
  transition: rotate var(--timing) translate var(--timing);
}

.yoda:hover::after {
  rotate: x calc(var(--rotation) * -1);
  translate: 0 60px;
}

.bg-img {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  object-position: -150px center;
}

.logo,
.front-img {
  position: absolute;
}

.logo {
  z-index: 20;
  filter: invert(1);
  width: 65%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem) translateZ(20px);
  transition: var(--timing);
}

.yoda:hover .logo {
  transform: translateZ(20px) translateY(-1rem);
  rotate: x calc(var(--rotation) * -1);
  filter: contrast(200%) invert(1) sepia(100%);
}

.front-img {
  scale: 1.15;
  transform-origin: bottom;
  opacity: 0;
  z-index: 25;
  transition: var(--timing);
}

.yoda:hover .front-img {
  opacity: 1;
  transform: translateZ(-10px) translateY(-2rem);
  rotate: x calc(var(--rotation) * -1);
}
