@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
  color: white;
}

.home-link {
  position: absolute;
  top: 20px;
  left: calc(50%-31px);
  color: #fff;
  font-size: 1.5em;
  width: 62px;
}

/* Basic Styles */

.product-grid {
  margin: 2rem;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: repeat(2, 25rem);
  gap: 2rem;
}

.product-card {
  background-color: rgba(240, 248, 255, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.product-card img {
  width: fit-content;
  position: absolute;
  border-radius: 1rem;
}

.product-info {
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
  z-index: 100;
  background-color: #000000bd;
}

.product-info p {
  margin: 2% 0;
  text-align: justify;
}

.product-info span {
  font-size: larger;
}

/* Media queries */
