@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.home-link {
  text-align: center;
  margin-bottom: 1rem;
}

.home-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  width: 62px;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background: #23242a;
  color: white;
}

/* Basic Styles */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.product-card {
  background-color: rgba(240, 248, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  border: #ffffff 2px solid;
  perspective: 1000px; /* Enables perspective for 3D transforms */
  transition: all 0.5s ease; /* Smooth transition on hover */
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
  z-index: 100;
  background-color: #000000bd;
  display: none;
}

.product-info {
  padding: 1rem;
}

.product-info h3 {
  margin-top: 0;
}

.product-info p {
  margin-bottom: 0.5rem;
}

.product-info span {
  font-weight: bold;
}
/* Media queries */

/* Tablet  */
@media screen and (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop  */
@media screen and (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    cursor: pointer;
  }
  .product-card:hover .product-info {
    display: inherit;
  }

  .product-card:hover {
    rotate: 1deg;
  }
}

/* Mobile */

/* Mobile Layout */
@media screen and (max-width: 767px) {
  .product-grid {
    display: block;
  }

  .product-card {
    margin-bottom: 1rem;
  }

  .product-card .product-info {
    display: inherit;
  }
}
