/* 
In dynamic change of height I want to resize the parent smoothly
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.home-link {
  text-align: center;
  margin-bottom: 1rem;
}

.home-link a {
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  width: 62px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
  color: white;
}

.parent {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent overflow if content exceeds parent height */
  transition: height 0.5s ease-in-out;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
}

.child {
  height: 10rem;
  width: 50rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.parent,
.child {
  transition: height 0.5s ease-in-out;
}
