@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

h1 {
  margin: 2rem 0;
}

.home-link {
  position: absolute;
  text-decoration: none;
  top: 25px;
  left: 25px;
  font-size: 2rem;
}

.text-container {
  max-width: 600px;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-block {
  text-align: justify;
  padding: 2rem 0;
}

/* Scrolling animation taking Viewport in account! */

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

img {
  /* I provide a Name and Axis for the element to be animated */
  view-timeline-name: --image;
  view-timeline-axis: block;

  /* I give the animation name and I provide the name of the element */
  animation-timeline: --image;
  animation-name: show;

  /* I expecify the range of the animation (when to start and to stop) */
  animation-range: entry 25% cover 65%;
  animation-fill-mode: both;
}

@media only screen and (max-width: 600px) {
  .text-container {
    width: 90vw;
  }
}
