/* 
Techniques Covered:
Keyframes Animations: We'll revisit keyframes animations to create the glitch effect for the text.
Multiple Animations: We'll combine multiple animations to achieve a more complex glitch effect.
Pseudo-elements (Optional): You can incorporate pseudo-elements to add a background or underline to the text.
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.home-link {
  text-align: center;
  margin-bottom: 1rem;
}

.home-link a {
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  width: 62px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
  color: white;
}

/* Challenge */

h1 {
  font-size: 5rem;
}
