/* Topics:

Linear Gradients: Creating smooth color transitions.
Animations: Breathing life into your design with smooth movements. */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

.home-link {
  text-align: center;
  margin-bottom: 1rem;
}

.home-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  width: 62px;
  position: absolute;
  left: 5px;
  top: 5px;
}

body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
  color: white;
  overflow: hidden;
}

.celestial-body {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background: linear-gradient(0.2turn, #ebf8e1, #ebf8e1, #3ceaf6);
  animation: 4s linear 0s infinite alternate rotate;
  z-index: 10;
}

.celestial-body::before {
  content: "";
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.2turn, #ebf8e1, #446a9c, #1d93ca);
  left: 0;
  top: 0;
  animation: 0.002s linear 0s infinite alternate athmosphere;
  z-index: -10;
}

.celestial-body::after {
  content: "";
  border-radius: 10%;
  width: 200vw;
  height: 35%;
  opacity: 5%;
  background: white;
  position: fixed;
  bottom: 30%;
  right: -94vw;
  rotate: -18deg;
  z-index: -10;
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes athmosphere {
  0% {
    position: initial;
  }
  100% {
    position: absolute;
  }
}
